{
    "swagger": "2.0",
    "info": {
        "title": "Volumez",
        "description": "Volumez orchestrator API",
        "version": "1.0.0"
    },
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "schemes": [
        "http"
    ],
    "host": "api.volumez.com",
    "basePath": "/api/v1",
    "tags": [
        {
            "name": "Volumes",
            "description": ""
        },
        {
            "name": "Nodes",
            "description": ""
        },
        {
            "name": "Policies",
            "description": "Policies allow you to declare the desired characteristics of volumes you will later create. Policies are expressed in terms of outcomes (such as desired performance and resiliency). When you later ask Volumez to create volumes using a policy, it will automatically allocate and configure whatever is necessary to match these desired outcomes."
        },
        {
            "name": "Networks",
            "description": ""
        },
        {
            "name": "Jobs",
            "description": ""
        },
        {
            "name": "Snapshots",
            "description": ""
        },
        {
            "name": "Attachments",
            "description": ""
        },
        {
            "name": "Media",
            "description": ""
        },
        {
            "name": "Connectivities",
            "description": ""
        },
        {
            "name": "Credentials",
            "description": ""
        },
        {
            "name": "Controllers",
            "description": ""
        }
    ],
    "paths": {
        "/volumes": {
            "get": {
                "summary": "Get a list of volumes",
                "tags": [
                    "Volumes"
                ],
                "operationId": "VolumesList",
                "parameters": [
                    {
                        "in": "query",
                        "name": "capacity",
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of volumes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Volume"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of volumes",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new volume",
                "tags": [
                    "Volumes"
                ],
                "operationId": "VolumeCreate",
                "parameters": [                   
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Volume object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Volume"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Volume has been created successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "409" : {
                        "description" : "409 response",
                        "schema" : {
                          "$ref" : "#/definitions/ErrorResponse"
                        }
                    },
                    "202" : {
                        "description" : "202 response",
                        "schema" : {
                          "$ref" : "#/definitions/ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "Error creating new volume",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
            
                }
            }
        },
        "/volumes/{volume}": {
            "parameters": [
                {
                    "in": "path",
                    "name": "volume",
                    "type": "string",
                    "required": true
                }
            ],
            "get": {
                "summary": "Get the properties of a volume",
                "tags": [
                    "Volumes"
                ],
                "operationId": "VolumeGet",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                      }
                ],
                "responses": {
                    "200": {
                        "description": "Properties of a volume",
                        "schema": {
                            "$ref": "#/definitions/Volume"
                        }
                    },
                    "default": {
                        "description": "Error getting properties of a volume",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a volume",
                "tags": [
                    "Volumes"
                ],
                "operationId": "VolumeDelete",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name":"force",
                        "in":"query",
                        "required":false,
                        "type":"boolean",
                        "default":false,
                        "allowEmptyValue":true,
                        "x-nullable": false
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A volume was deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error deleting a volume",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Modify a volume",
                "tags": [
                    "Volumes"
                ],
                "operationId": "VolumeModify",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Volume object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Volume"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                      }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A volume was updated successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error updating a volume",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/volumes/{volume}/describe":{
            "get":{
                "summary":"describe existing volume ",
                "tags":[
                    "Volumes"
                ],
                "operationId":"VolumeDescribe",
            "parameters": [
                {
                    "in": "path",
                    "name": "volume",
                    "type": "string",
                    "required": true
                },
                {
                    "name": "authorization",
                    "in": "header",
                    "required": false,
                    "type": "string"
                  }
                ],
                "responses": {
                    "200": {
                        "description": "the Volume information ",
                        "schema": {
                            "$ref": "#/definitions/VolumeGroup"
                        }
                    },
                    "default": {
                        "description": "Error Getting volume plan",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/tenant/{tenantID}/tenanthosts/{tenantHost}": {
            "delete": {
                "summary": "Delete a tenant host",
                "tags": [
                    "Tenant Hosts"
                ],
                "operationId": "tenanthostdelete",
                "parameters": [
                    {
                        "in": "path",
                        "name": "tenantID",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "tenantHost",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                      }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "Tenant Host was deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/TenantHostDeleteResponse" 
                        }
                    },
                    "500": {
                        "description": "Error deleting Tenant's Host",
                        "schema": {
                            "$ref": "#/definitions/TenantHostDeleteResponse" 
                        }
                    }
                }
            }
        },  
        "/tenant/tenanthost/credentials": {
            "get": {
                "summary": "Given the tenant's host token (Refresh Token), get the ID Token for this machine",
                "tags": [
                    "Tenant Host Credentials"
                ],
                "operationId": "TenanthostAccessCredentials",
                "parameters": [
                    {
                    "name": "refreshtoken",
                    "in": "header",
                    "required": true,
                    "type": "string"
                  }
                ],
                 "responses":
                 {
                    "200": {
                        "description": "200 response",
                        "schema": {
                        "$ref": "#/definitions/RefreshTokenResponse"
                        },
                        "headers": {
                        "Access-Control-Allow-Origin": {
                            "type": "string"
                        }
                        }
                    },
                    "500": {
                        "description": "Error getting ID Token from Tenant's Host Token (Refresh Token)",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                        "Access-Control-Allow-Origin": {
                            "type": "string"
                        }
                        }
                    }
                }
            }
        },             
        "/tenant/tenanthost": {
            "get": {
                "summary": "Get a tenant host",
                "tags": [
                    "Tenant Host"
                ],
                "operationId": "tenanthostget",
                "parameters": [                   
                    {
                        "name": "tenanthosttoken",
                        "in": "header",
                        "required": true,
                        "type": "string"
                      }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "Got Tenant's Host successfully",
                        "schema": {
                            "$ref": "#/definitions/GetTenantHostResponse" 
                        }
                    },
                    "500": {
                        "description": "Error getting Tenant's Host",
                        "schema": {
                            "$ref": "#/definitions/GetTenantHostResponse" 
                        }
                    }
                }
            }
        },                    
        "/tenant/tenantid": {
            "get": {
                "summary": "Get a Tenant ID from Tenant's Token",
                "tags": [
                    "Tenant ID From Tenant Token"
                ],
                "operationId": "tenantIDget",
                "parameters": [                   
                    {
                        "name": "tenanttoken",
                        "in": "header",
                        "required": true,
                        "type": "string"
                      }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "Got Tenant's ID successfully",
                        "schema": {
                            "$ref": "#/definitions/GetTenantIDResponse" 
                        }
                    },
                    "500": {
                        "description": "Error getting Tenant's ID",
                        "schema": {
                            "$ref": "#/definitions/GetTenantIDResponse" 
                        }
                    }
                }
            }
        },       
        "/nodes": {
            "get": {
                "summary": "Get a list of nodes",
                "tags": [
                    "Nodes"
                ],
                "operationId": "NodesList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of nodes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Node"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of nodes",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/nodes/{node}": {
            "get": {
                "summary": "Get the properties of a node",
                "tags": [
                    "Nodes"
                ],
                "operationId": "NodeGet",
                "parameters": [
                    {
                        "name": "node",
                        "in": "path",
                        "description": "Name of node to return",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Properties of a node",
                        "schema": {
                            "$ref": "#/definitions/Node"
                        }
                    },
                    "400": {
                        "description": "Invalid node name supplied",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Node not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "Error getting properties of a node",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete":{
                "summary":"Delete a node",
                "tags":[
                    "Nodes"
                ],
                "operationId":"NodeDelete",
                "parameters":[
                    {
                        "name":"node",
                        "in":"path",
                        "description":" node to delete",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"force",
                        "in":"query",
                        "required":false,
                        "type":"boolean",
                        "default":false,
                        "allowEmptyValue":false,
                        "x-nullable": false
                    }
                ],
                "responses":{
                    "200":{
                        "description": "A node delete job was created successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default":{
                        "description": "Error deleting a node",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/nodes/cleanup/{node}": {
            "post": {
                "summary": "performing node cleanup",
                "tags": [
                    "Nodes"
                ],
                "operationId": "NodeCleanUp",
                "parameters": [
                    {
                        "name": "node",
                        "in": "path",
                        "description": "Name of node to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Node cleanup started successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid node name supplied",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Node not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "Error trying to cleanup node",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        }
        ,
        "/tenant/refreshtoken": {
            "post": {
                "summary": "Get the tenant's Refresh Token",
                "tags": [
                    "TenantRefreshToken"
                ],
                "operationId": "TenantRefreshToken",
                "parameters": [                  
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Tenant's Refresh Token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GetTenantRefreshTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Refresh Token",
                        "schema": {
                            "$ref": "#/definitions/RefreshToken"
                        }
                    },                    
                    "500": {
                        "description": "Error getting Tenant's Refresh Token",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "Error getting Tenant's Refresh Token",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        }
        ,
        "/policies": {
            "get": {
                "summary": "Get a list of policies",
                "tags": [
                    "Policies"
                ],
                "operationId": "PoliciesList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of policies",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Policy"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of policies",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new policy",
                "tags": [
                    "Policies"
                ],
                "operationId": "PolicyCreate",
                "parameters": [                    
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Policy object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Policy"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "New policy was created successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error creating new policy",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/policies/{policy}": {
            "get": {
                "summary": "Get the properties of a policy",
                "tags": [
                    "Policies"
                ],
                "operationId": "PolicyGet",
                "parameters": [
                    {
                        "in": "path",
                        "name": "policy",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Properties of a policy",
                        "schema": {
                            "$ref": "#/definitions/Policy"
                        }
                    },
                    "default": {
                        "description": "Error getting properties of a policy",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a policy",
                "tags": [
                    "Policies"
                ],
                "operationId": "PolicyDelete",
                "parameters": [
                    {
                        "in": "path",
                        "name": "policy",
                        "type": "string",
                        "required": true
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A policy was deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error deleting a policy",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Modify a policy",
                "tags": [
                    "Policies"
                ],
                "operationId": "PolicyModify",
                "parameters": [
                    {
                        "in": "path",
                        "name": "policy",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Policy object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Policy"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A policy was updated successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error updating a policy",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
            
        },
        "/policies/{policy}/size/{size}/zone/{zone}": {
            "get": {
                "summary": "Show policy volume create plan",
                "tags": [
                    "Policies"
                ],
                "operationId": "PolicyPlan",
                "parameters": [
                    {
                        "in": "path",
                        "name": "policy",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "size",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "zone",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Policy volume group plan",
                        "schema": {
                            "$ref": "#/definitions/Plan"
                        }
                    },
                    "404": {
                        "description": "Plan failed",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "Error getting policy volume group plan",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/signup": {           
            "post": {
                "summary": "Create Tenant's first user",
                "tags": [
                    "users"
                ],
                "operationId": "UserCreate",
                "parameters": [                    
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A user object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TenantCreateAdminUserRequest"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully Signed up",
                        "schema": {
                            "$ref": "#/definitions/SignUpResponse"
                        }
                    },
                    "500": {
                        "description": "Error signing up",
                        "schema": {
                            "$ref": "#/definitions/SignUpResponse"
                        }
                    }
                }
            }
        },
        "/signout": {           
            "post": {
                "summary": "Signs out user from all devices",
                "tags": [
                    "users"
                ],
                "operationId": "Signout",
                "parameters": [                    
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SignoutRequest"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "Sign out was successful",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error signing out",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/tenant/apiaccess/credentials/refresh": {
            "get": {
                "summary": "Given the Tenant's API Access Refresh Token, return new Access Token, Identity Token and a newer Refresh Token",
                "tags": [
                    "Tenant API Access Refresh Token"
                ],
                "operationId": "TenantAPIAccessRefreshToken",
                "parameters": [
                    {
                    "name": "refreshtoken",
                    "in": "header",
                    "required": true,
                    "type": "string"
                  }
                ],
                 "responses":
                 {
                    "200": {
                        "description": "200 response",
                        "schema": {
                        "$ref": "#/definitions/RefreshTokenResponse"
                        },
                        "headers": {
                        "Access-Control-Allow-Origin": {
                            "type": "string"
                        }
                        }
                    },
                    "500": {
                        "description": "Error refreshing user Tenant's API Acces Token",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                        "Access-Control-Allow-Origin": {
                            "type": "string"
                        }
                        }
                    }
                }
            }
        },
        "/tenant/token": {
            "get": {
                "summary": "Get the Tenant's Token",
                "tags": [
                    "tenant token"
                ],
                "operationId": "TenantToken",
                "parameters": [                    
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant's Token retrieval was successful",
                        "schema": {
                            "$ref": "#/definitions/TenantTokenResponse"
                        }
                    },
                    "default": {
                        "description": "Error getting Tenant's Token",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/tenant/user": {   
            "get": {
                "summary": "Get tenant user",
                "tags": [
                    "Tenant User"
                ],
                "operationId": "tenantuserget",                
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "Got Tenant's User successfully",
                        "schema": {
                            "$ref": "#/definitions/GetTenanUserResponse" 
                        }
                    },
                    "500": {
                        "description": "Error getting Tenant's User",
                        "schema": {
                            "$ref": "#/definitions/GetTenanUserResponse" 
                        }
                    }
                }
            },        
            "post": {
                "summary": "Create Tenant's additional user",
                "tags": [
                    "users"
                ],
                "operationId": "TenantUserCreate",
                "parameters": [                    
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A user object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TenantCreateUserRequest"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "New user was created successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error creating new user",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },        
        "/tenant/user/confirmation": {           
            "get": {
                "summary": "Confirm user signup",
                "tags": [
                    "UserConfirm"
                ],
                "operationId": "UserConfirm",
                "parameters": [                    
                    {
                        "in": "query",
                        "name": "client_id",
                        "type": "string",
                        "description": "Cognito Client ID"
                    },
                    {
                        "in": "query",
                        "name": "user_name",
                        "type": "string",
                        "description": "Cognito User Name"
                    },
                    {
                        "in": "query",
                        "name": "confirmation_code",
                        "type": "string",
                        "description": "Cognito Signup Confirmation Code"
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "User has successfully confirmed",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },                                  
                    "500": {
                        "description": "Error confirming user",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "User confirmation error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/tenant/user/requestchangepassword": {    
            "post": {
                "summary": "Request Change clients password",
                "tags": [
                    "Request-user-password"
                ],
                "operationId": "RequestChangePassword",
                "parameters": [                   
                    {
                        "in": "body",
                        "name": "body",
                        "description": "new user password",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RequestChangePasswordRequest"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "Request for password change done successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error request changing password",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/tenant/user/changepasswordloggedin": {    
            "post": {
                "summary": "Change clients password when user is logged in",
                "tags": [
                    "User-password-logged-in"
                ],
                "operationId": "ChangePasswordLoggedIn",
                "parameters": [                   
                    {
                        "in": "body",
                        "name": "body",
                        "description": "new user password when logged in",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ChangePasswordRequestLoggedIn"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "New password changed successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error changing password",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/tenant/user/changepassword": {    
            "post": {
                "summary": "Change clients password",
                "tags": [
                    "User-password"
                ],
                "operationId": "ChangePassword",
                "parameters": [                   
                    {
                        "in": "body",
                        "name": "body",
                        "description": "new user password",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ChangePasswordRequest"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "New password changed successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error changing password",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/signin": {           
            "post": {
                "summary": "SIO Sign In",
                "tags": [
                    "signin"
                ],
                "operationId": "SignIn",
                "parameters": [                    
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A signin object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SignIn"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "Sign in was successful",
                        "schema": {
                            "$ref": "#/definitions/SignInResponse"
                        }
                    },
                    "default": {
                        "description": "Error signing in",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/networks": {
            "get": {
                "summary": "Get a list of networks",
                "tags": [
                    "Networks"
                ],
                "operationId": "NetworksList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of networks",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Network"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of networks",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new network",
                "tags": [
                    "Networks"
                ],
                "operationId": "NetworkCreate",
                "parameters": [                   
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Network object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Network"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "New network was created successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error creating new network",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/networks/{network}": {
            "get": {
                "summary": "Get the properties of a network",
                "tags": [
                    "Networks"
                ],
                "operationId": "NetworkGet",
                "parameters": [
                    {
                        "in": "path",
                        "name": "network",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Properties of a network",
                        "schema": {
                            "$ref": "#/definitions/Network"
                        }
                    },
                    "default": {
                        "description": "Error getting properties of a network",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a network",
                "tags": [
                    "Networks"
                ],
                "operationId": "NetworkDelete",
                "parameters": [
                    {
                        "in": "path",
                        "name": "network",
                        "type": "string",
                        "required": true
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A network was deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error deleting a network",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Modify a network",
                "tags": [
                    "Networks"
                ],
                "operationId": "NetworkModify",
                "parameters": [
                    {
                        "in": "path",
                        "name": "network",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Network object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Network"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A network was updated successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error updating a network",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/jobs": {
            "get": {
                "summary": "Get a list of jobs",
                "tags": [
                    "Jobs"
                ],
                "operationId": "JobsList",
                "parameters": [
                    {
                        "in": "query",
                        "name": "internal",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of jobs",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Job"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of jobs",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/jobs/{job}": {
            "get": {
                "summary": "Get the properties of a job",
                "tags": [
                    "Jobs"
                ],
                "operationId": "JobGet",
                "parameters": [
                    {
                        "in": "path",
                        "name": "job",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                      }
                ],
                "responses": {
                    "200": {
                        "description": "Properties of a job",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    },
                    "default": {
                        "description": "Error getting properties of a job",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a job",
                "tags": [
                    "Jobs"
                ],
                "operationId": "JobDelete",
                "parameters": [
                    {
                        "in": "path",
                        "name": "job",
                        "type": "string",
                        "required": true
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A job was deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error deleting a job",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/snapshots": {
            "get": {
                "summary": "Get a list of all snapshots",
                "tags": [
                    "Snapshots"
                ],
                "operationId": "SnapshotsListAll",
                "parameters": [
                    {
                        "in": "query",
                        "name": "capacity",
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of all snapshots",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Snapshot"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of all snapshots",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/volumes/{volume}/recover": {    
            "post": {
                "summary": "Initiate recover on volume",
                "tags": [
                    "Volumes"
                ],
                "operationId": "VolumeRecoverInitiate",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",                        
                        "type": "string",
                        "required": true
                    },                   
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                      }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "Volume recovery was initiated successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error initiating recovery on volume",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/volumes/{volume}/snapshots": {
            "get": {
                "summary": "Get a list of snapshots",
                "tags": [
                    "Snapshots"
                ],
                "operationId": "SnapshotsList",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of snapshots",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Snapshot"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of snapshots",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new snapshot",
                "tags": [
                    "Snapshots"
                ],
                "operationId": "SnapshotCreate",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Snapshot object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Snapshot"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                      }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "New snapshot was created successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error creating new snapshot",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/volumes/{volume}/snapshots/{snapshot}": {
            "get": {
                "summary": "Get the properties of a snapshot",
                "tags": [
                    "Snapshots"
                ],
                "operationId": "SnapshotGet",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "snapshot",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Properties of a snapshot",
                        "schema": {
                            "$ref": "#/definitions/Snapshot"
                        }
                    },
                    "default": {
                        "description": "Error getting properties of a snapshot",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a snapshot",
                "tags": [
                    "Snapshots"
                ],
                "operationId": "SnapshotDelete",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "snapshot",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name":"force",
                        "in":"query",
                        "required":false,
                        "type":"boolean",
                        "default":false,
                        "allowEmptyValue":true,
                        "x-nullable": false
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A snapshot was deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error deleting a snapshot",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Modify a snapshot",
                "tags": [
                    "Snapshots"
                ],
                "operationId": "SnapshotModify",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "snapshot",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Snapshot object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Snapshot"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A snapshot was updated successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error updating a snapshot",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/volumes/{volume}/snapshots/{snapshot}/rollback": {
            "patch": {
                "summary": "Roll back to snapshot",
                "tags": [
                    "Snapshots"
                ],
                "operationId": "SnapshotRollback",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "snapshot",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rollback successful",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error during rollback",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/attachments": {
            "get": {
                "summary": "Get a list of all attachments",
                "tags": [
                    "Attachments"
                ],
                "operationId": "AttachmentsListAll",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of all attachments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Attachment"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of all attachments",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/volumes/{volume}/snapshots/{snapshot}/attachments": {
            "get": {
                "summary": "Get a list of attachments",
                "tags": [
                    "Attachments"
                ],
                "operationId": "AttachmentsList",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "snapshot",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of attachments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Attachment"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of attachments",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new attachment",
                "tags": [
                    "Attachments"
                ],
                "operationId": "AttachmentCreate",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "snapshot",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                      },
                      {
                        "in": "body",
                        "name": "body",
                        "description": "An Attachment object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Attachment"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "New attachment was created successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error creating new attachment",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/volumes/{volume}/snapshots/{snapshot}/attachments/{node}": {
            "get": {
                "summary": "Get the properties of an attachment",
                "tags": [
                    "Attachments"
                ],
                "operationId": "AttachmentGet",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "snapshot",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "node",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Properties of an attachment",
                        "schema": {
                            "$ref": "#/definitions/Attachment"
                        }
                    },
                    "default": {
                        "description": "Error getting properties of an attachment",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete an attachment",
                "tags": [
                    "Attachments"
                ],
                "operationId": "AttachmentDelete",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "snapshot",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "node",
                        "type": "string",
                        "required": true
                    },                    
                    {
                        "name": "authorization",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name":"force",
                        "in":"query",
                        "required":false,
                        "type":"boolean",
                        "default":false,
                        "allowEmptyValue":true,
                        "x-nullable": false
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "An attachment was deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error deleting an attachment",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Modify an attachment",
                "tags": [
                    "Attachments"
                ],
                "operationId": "AttachmentModify",
                "parameters": [
                    {
                        "in": "path",
                        "name": "volume",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "snapshot",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "node",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "An Attachment object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Attachment"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "An attachment was updated successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error updating an attachment",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/media": {
            "get": {
                "summary": "Get a list of media",
                "tags": [
                    "Media"
                ],
                "operationId": "MediaList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of media",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Media"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of media",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/media/{media}": {
            "parameters":[
                {
                    "in": "path",
                    "name": "media",
                    "type": "string",
                    "required": true
                },
                {
                    "name": "authorization",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }
            ],
            "get": {
                "summary": "Get the properties of a media",
                "tags": [
                    "Media"
                ],
                "operationId": "MediaGet",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Properties of a media",
                        "schema": {
                            "$ref": "#/definitions/Media"
                        }
                    },
                    "default": {
                        "description": "Error getting properties of a media",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete":{
                "summary":"Delete a media",
                "tags":[
                    "Media"
                ],
                "operationId":"MediaDelete",
                "parameters":[
                    {
                        "name":"force",
                        "in":"query",
                        "required":false,
                        "type":"boolean",
                        "default":false,
                        "allowEmptyValue":false,
                        "x-nullable": false
                    }
                ],
                "responses":{
                    "200":{
                        "description": "A node delete job was created successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default":{
                        "description": "Error deleting a node",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "summary": "modify a media properties",
                "tags": [
                    "Media",
                    "DevAPI"
                ],
                "operationId": "MediaModify",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Media Modify Object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MediaModify"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Properties of a media to patch",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error patching properties of a media",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/media/{media}/ledon": {
            "get": {
                "summary": "Turn the media LED on",
                "tags": [
                    "Media"
                ],
                "operationId": "MediaLedOn",
                "parameters": [
                    {
                        "in": "path",
                        "name": "media",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation completed successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error completing the operation",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/media/{media}/ledoff": {
            "get": {
                "summary": "Turn the media LED off",
                "tags": [
                    "Media"
                ],
                "operationId": "MediaLedOff",
                "parameters": [
                    {
                        "in": "path",
                        "name": "media",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation completed successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error completing the operation",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/media/{media}/assign": {
            "get": {
                "summary": "Assign media",
                "tags": [
                    "Media"
                ],
                "operationId": "MediaAssign",
                "parameters": [
                    {
                        "in": "path",
                        "name": "media",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation completed successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error completing the operation",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/media/{media}/unassign": {
            "get": {
                "summary": "Unassign media",
                "tags": [
                    "Media"
                ],
                "operationId": "MediaUnassign",
                "parameters": [
                    {
                        "in": "path",
                        "name": "media",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation completed successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error completing the operation",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/media/{media}/profile": {
            "get": {
                "summary": "profile a media - deprecated",
                "tags": [
                    "Media",
                    "deprecated"
                ],
                "operationId": "MediaProfile",
                "parameters": [
                    {
                        "in": "path",
                        "name": "media",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation completed successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error completing the operation",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Modify a media profile",
                "tags": [
                    "Media"
                ],
                "operationId": "MediaProfileModify",
                "parameters": [
                    {
                        "in": "path",
                        "name": "media",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Media Profile object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MediaProfile"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A media profile was updated successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error updating a media profile",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/connectivities": {
            "get": {
                "summary": "Get a list of connectivities",
                "tags": [
                    "Connectivities"
                ],
                "operationId": "ConnectivitiesList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of connectivities",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Connectivity"
                            }
                        }
                    },
                    "default": {
                        "description": "Error getting a list of connectivities",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new connectivity",
                "tags": [
                    "Connectivities"
                ],
                "operationId": "ConnectivityCreate",
                "parameters": [
                    
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Connectivity object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Connectivity"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "New connectivity was created successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error creating new connectivity",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/connectivities/{connectivity}": {
            "get": {
                "summary": "Get the properties of a connectivity",
                "tags": [
                    "Connectivities"
                ],
                "operationId": "ConnectivityGet",
                "parameters": [
                    {
                        "in": "path",
                        "name": "connectivity",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Properties of a connectivity",
                        "schema": {
                            "$ref": "#/definitions/Connectivity"
                        }
                    },
                    "default": {
                        "description": "Error getting properties of a connectivity",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a connectivity",
                "tags": [
                    "Connectivities"
                ],
                "operationId": "ConnectivityDelete",
                "parameters": [
                    {
                        "in": "path",
                        "name": "connectivity",
                        "type": "string",
                        "required": true
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A connectivity was deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error deleting a connectivity",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Modify a connectivity",
                "tags": [
                    "Connectivities"
                ],
                "operationId": "ConnectivityModify",
                "parameters": [
                    {
                        "in": "path",
                        "name": "connectivity",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A Connectivity object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Connectivity"
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "A connectivity was updated successfully",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    },
                    "default": {
                        "description": "Error updating a connectivity",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/version": {
            "get": {
                "summary": "Get version of sio",
                "tags": [
                    "Version"
                ],
                "operationId": "versionGet",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Version of sio",
                        "schema": {
                            "$ref": "#/definitions/VersionResponse"
                        }
                    },
                    "default": {
                        "description": "Error getting version of sio",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },


       "/healthcheck": {
            "get": {
                "summary": "Check SIO's health",
                "tags": [
                    "Health"
                ],
                "operationId": "health",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "SIO is running",
                        "schema": {
                            "$ref": "#/definitions/RegularResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "DateTime": {
            "type": "string",
            "format": "date-time",
            "x-go-type": {
                "type": "Time",
                "import": {
                    "package": "time"
                },
                "embedded": true
            }
        },
        "Volume": {
            "type": "object",
            "properties": {
                "name": {
                    "x-go-name": "Name",
                    "x-isnullable": false,
                    "x-omitempty": false,
                    "type": "string",
                    "minLength": 1,
                    "title": "Volume name",
                    "example": "vol1"
                },
                "volumeid": {
                    "x-go-name": "VolumeID",
                    "x-isnullable": false,
                    "x-omitempty": false,
                    "type": "string",
                    "minLength": 1,
                    "title": "Volume ID",
                    "readOnly": true
                },
                "type": {
                    "x-isnullable": false,
                    "x-omitempty": false,
                    "type": "string",
                    "enum": [
                        "file",
                        "block"
                    ]
                },
                "contentvolume": {
                    "x-go-name": "ContentVolume",
                    "x-isnullable": false,
                    "x-omitempty": false,
                    "type": "string"
                },
                "contentsnapshot": {
                    "x-go-name": "ContentSnapshot",
                    "x-isnullable": false,
                    "x-omitempty": false,
                    "type": "string"
                },
                "size": {
                    "x-isnullable": false,
                    "x-omitempty": false,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 65536,
                    "title": "Size, GiB",
                    "example": 10
                },
                "maxsize": {
                    "x-isnullable": false,
                    "x-omitempty": false,
                    "x-go-name": "MaxSize",
                    "type": "integer",
                    "readOnly": true,
                    "title": "Upper limit size, GiB",
                    "example": 100
                },
                "policy": {
                    "x-isnullable": false,
                    "x-omitempty": false,
                    "type": "string",
                    "minLength": 1
                },
                "consistencygroup": {
                    "x-go-name": "ConsistencyGroup",
                    "x-isnullable": false,
                    "x-omitempty": false,
                    "type": "string"
                },
                "node": {
                    "x-isnullable": true,
                    "x-omitempty": false,
                    "type": "string"
                },
                "zone": {
                    "x-isnullable": false,
                    "x-omitempty": false,
                    "type": "string",
                    "minLength":1,
                    "example": "eu-west-2"
                },
                "zonereplica": {
                    "x-isnullable": true,
                    "x-omitempty": false,
                    "type": "string"
                },
                "volumegroupname": {
                    "x-go-name": "VolumeGroupName",
[...]
